<!--
HTML email template notifying a user that one of their places has 
been commented on.
-->

<p>Greetings Mortal,</p>
<p>
    All your petty desires have come true,
    <b>A comment has been added to one of your places on Nomster.</b>
</p>

For the Blood God,<br />
Nomster Overlords