<!--
HTML email template notifying a user that one of their places has 
been commented on.
-->

<p>Greetings Mortal,</p>
<p>
    All your petty desires have come true,
    <b>A comment has been added to one of your places on Nomster.</b>
    <br />
    View this worthless altar to the trivial pursuits of man
    <%= link_to 'here', place_url(@place) %>, if you must.
</p>

For the Blood God,<br />
Nomster Overlords